html{
    background-color: white;
    font-family: Parisine TT, Arial, sans-serif;
    font-weight: 100;
    color: navy;
}
.img_bus{
    width: 35px;
   
}
.img_num_bus{
    width: 45px;
}
.titre_bus{
    text-align: left;
    margin-top: 50px;
    margin-bottom: 10px;
}
.destination_bus{
    text-align: left;
    font-weight: 100;
}
#dest_1{
    margin: 0px;
}
#dest_2{
    margin-top: 3px;
}
.nav_bus {
    position: sticky;
    top: 0;
    background-color: #fff;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
}

.nav_bus a {
    background-color: navy;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    padding: 0.5em 1em;
    
}
.arret{
    width: 100%;
}

